@charset "UTF-8";

@import 'normalize';
@import 'colors';
@import 'typography';
@import 'flexbox';
@import 'grid';
@import 'forms';
@import 'tables';
@import 'notices';
@import 'transforms';

* { box-sizing: border-box; }

div:empty, section:empty { display: none; }

section + section {
  margin-top: $baseline;
}

a {
  &.cancel {
    color: red;
    &:before { content: '← '; }
  }
  &.back {
    color: red;
    &:before { content: '← '; }
  }
  &.destroy {
    color: red;
  }
}

.note {
  font-size: $fs-small;
}


.full-width {
  box-sizing: border-box;
  width: 100%;
}


.field_with_errors {
  display: inline;
  input[type], textarea, select {
    border: 1px solid red;
  }
}
