@charset "UTF-8";

@import 'normalize';
@import 'colors';
@import 'typography';
@import 'flexbox';
@import 'grid';
@import 'forms';
@import 'tables';
@import 'notices';


* { box-sizing: border-box; }

div:empty, section:empty { display: none; }

a {
	&.cancel {
		color: red;
		&:before { content: '← '; }
	}
	&.destroy {
		color: red;
	}
}

.note {
	font-size: $fs-small;
}

.row {
	margin: $baseline 0;
}
