
@mixin flexbox {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
}

@mixin align-items($arg) {
  align-items: $arg;
  -ms-align-items: $arg;
  -webkit-align-items: $arg;
}

@mixin align-content($arg) {
  align-content: $arg;
  -ms-align-content: $arg;
  -webkit-align-content: $arg;
}

@mixin flex-direction($arg) {
  flex-direction: $arg;
  -ms-flex-direction: $arg;
  -webkit-flex-direction: $arg;
}

@mixin justify-content($arg) {
  justify-content: $arg;
  -ms-justify-content: $arg;
  -webkit-justify-content: $arg;
}

@mixin flex-wrap($arg) {
  flex-wrap: $arg;
  -ms-flex-wrap: $arg;
  -webkit-flex-wrap: $arg;
}

@mixin flex-grow($arg) {
  flex-grow: $arg;
  -ms-flex-grow: $arg;
  -webkit-flex-grow: $arg;
}

@mixin flex-shrink($arg) {
  flex-shrink: $arg;
  -ms-flex-shrink: $arg;
  -webkit-flex-shrink: $arg;
}

@mixin align-self($arg) {
  align-self: $arg;
  -ms-align-self: $arg;
  -webkit-align-self: $arg;
}

@mixin order($arg) {
  order: $arg;
  -moz-order: $arg;
  -ms-order: $arg;
  -o-order: $arg;
  -webkit-order: $arg;
}
