form {
  fieldset {
    // background-color: $light-grey;
    border-radius: .5rem;
    margin-bottom: .5 * $baseline;
    margin-top: .5 * $baseline;
    max-width: $measure;
  }
  legend {}
  .field {
    margin-bottom: .5 * $baseline;
    margin-top: .5 * $baseline;
    max-width: $measure;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    border: 1px solid $light-grey;
    border-radius: .25rem;
    box-sizing: border-box;
    display: block;
    margin-top: .25 * $baseline;
    margin-bottom: .25 * $baseline;
    max-width: $measure;
    padding: .25 * $baseline;
    width: 100%;
  }
  @for $i from 1 through 40 {
    input[size='#{$i}'] { 
      display: inline-block;
      width: $i * .75em; 
    }
  }
  div.submit {
    text-align: right;
  }
  input[type="submit"] {
    &[type="submit"] { 
      background-color: $light-grey;
      border: 1px solid $grey;
      border-radius: .25rem;
      margin: .75rem 0;
      padding: .25rem .5rem;
      -webkit-appearance: none; 
    }
  }
}

