@import 'all';


// Color scheme

$black:      #000;
$light-grey: #f0f0f0;
$grey:       #ccc;
$dark-grey:  #333;
$white:      #fff;


// SETTINGS
$max-body-width: 71em;




// HEADINGS

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  margin: 0;
}




// HTML, BODY

html {
  background-color: $light-grey;
  height: 100%;
}

body {
  background-color: $white;
  color: $dark-grey;
  font-size: $base-font-size;
  min-height: 100%;
  line-height: $baseline;
  margin: 0 auto;
  max-width: $max-body-width;
  text-rendering: optimizeLegibility;
}


// Don't display empty DIVs

div:empty { display: none; }


