// Languages
$available_languages: ('en');


// Fonts, size and line-height
$serif: serif;
$sans:  sans-serif;

$base-font-size: 22px;
$baseline: 1.5rem;


// Font weights

$fw-x-light: 200;
$fw-light:   300;
$fw-book:    400;
$fw-medium:  500;
$fw-normal:  $fw-medium;
$fw-bold:    700;
$fw-black:   900;


// Modular scale

$fs-x-small:    .7071067812em;
$fs-small:      .8408964153em;
$fs-normal:    1.0000000000em;
$fs-large:     1.1892071150em;
$fs-x-large:   1.4142135624em;
$fs-xx-large:  1.6817928305em;
$fs-xxx-large: 2.0000000000em;


// 

body {
  line-height: $baseline;
}




// TYPOGRAPHY


// http://webtypography.net/2.1.2
//
// “Anything from 45 to 75 characters is widely regarded
// as a satisfactory length of line for a single-column
// page set in a serifed text face in a text size.
//
$measure: 38rem; // 75 characters


// http://webtypography.net/2.1.6 //
//
// “Acronyms such as CIA and PLO are
// frequent in some texts. So are abbreviations such as CE and BCE or AD
// and BC. The normal value for letterspacing these sequences of small or
// full caps is 5% to 10% of the type size. Many typographers like to
// letterspace all strings of numbers as well. Spacing is essential for
// rapid reading of long, fundamentally meaningless strings such as
// serial numbers, and is helpful even for shorter strings such as phone
// numbers and dates.”
abbr { letter-spacing: 0.1em; }




ul, ol, dl, p, table {
  margin-top: 0;
  margin-bottom: $baseline;
  &:last-child {
    margin-bottom: 0;
  }
}

p {
          hyphens: auto;
       -o-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
  -webkit-hyphens: auto;
          hyphenate-limit-lines: 3;
       -o-hyphenate-limit-lines: 3;
     -moz-hyphenate-limit-lines: 3;
      -ms-hyphenate-limit-lines: 3;
  -webkit-hyphenate-limit-lines: 3;
  max-width: $measure;
}

strong { white-space: nowrap; }


