// Languages
$available_languages: ('en');

// Fonts, size and line-height
$serif: 'Merriweather', serif;
$sans:  "core_sans_a_45_regularregular", "Helvetica Neue", Helvetica, sans-serif;
$baseline: 1.5rem;

// Font styles: sans-serif
$sans-x-light: "core_sans_a_25_extralightRg",   "Helvetica Neue", Helvetica, sans-serif;
$sans-light:   "core_sans_a_35_lightregular",   "Helvetica Neue", Helvetica, sans-serif;
$sans-book:    "core_sans_a_45_regularregular", "Helvetica Neue", Helvetica, sans-serif;
$sans-medium:  "core_sans_a_55_mediumregular",  "Helvetica Neue", Helvetica, sans-serif;
$sans-normal:  "core_sans_a_55_mediumregular",  "Helvetica Neue", Helvetica, sans-serif;
$sans-bold:    "core_sans_a_65_boldregular",    "Helvetica Neue", Helvetica, sans-serif;
$sans-black:   "core_sans_a_75_extraboldRg",    "Helvetica Neue", Helvetica, sans-serif;

// Font styles: serif
$serif-normal: "Merriweather-Regular", serif;
$serif-italic: "Merriweather-Italic", serif;
$serif-bold:   "Merriweather-Bold", serif;
$serif-italic: "Merriweather-BoldItalic", serif; 

// Modular scale
$fs-x-small:    .7071067812em;
$fs-small:      .8408964153em;
$fs-normal:    1.0000000000em;
$fs-large:     1.1892071150em;
$fs-x-large:   1.4142135624em;
$fs-xx-large:  1.6817928305em;
$fs-xxx-large: 2.0000000000em;

body {
  line-height: $baseline;
  text-rendering: optimizeLegibility;
}

// TYPOGRAPHY

// http://webtypography.net/2.1.2
// “Anything from 45 to 75 characters is widely regarded
// as a satisfactory length of line for a single-column
// page set in a serifed text face in a text size.
//
$measure: 38em; // 75 characters

// http://webtypography.net/2.1.6 //
// “Acronyms such as CIA and PLO are
// frequent in some texts. So are abbreviations such as CE and BCE or AD
// and BC. The normal value for letterspacing these sequences of small or
// full caps is 5% to 10% of the type size. Many typographers like to
// letterspace all strings of numbers as well. Spacing is essential for
// rapid reading of long, fundamentally meaningless strings such as
// serial numbers, and is helpful even for shorter strings such as phone
// numbers and dates.”
abbr { letter-spacing: 0.1em; }

ul, ol, dl, p, table {
  margin-top: 0;
  margin-bottom: $baseline;
  &:last-child {
    margin-bottom: 0;
  }
}

p, li {
          hyphens: auto;
       -o-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
  -webkit-hyphens: auto;
          hyphenate-limit-lines: 3;
       -o-hyphenate-limit-lines: 3;
     -moz-hyphenate-limit-lines: 3;
      -ms-hyphenate-limit-lines: 3;
  -webkit-hyphenate-limit-lines: 3;
  max-width: $measure;
}
